<header class="main-header">
    <!-- nav-button -->
    <div class="nav-button-wrap">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="nav-holder">
        <nav class="scroll-nav">
            <ul>
              <li style="width: 133.5px;"><a class="scroll-link" href="/#sec-about" data-bgscr="https://res.cloudinary.com/ovac/image/upload/v1504965794/aboust_ey5v1v.jpg" data-bgtex="about"><span>About</span></a></li>
              <li style="width: 133.5px;"><a class="scroll-link" href="/#sec-resume" data-bgscr="https://res.cloudinary.com/ovac/image/upload/v1504965794/aboust_ey5v1v.jpg" data-bgtex="resume"><span>Resume</span></a></li>
              <li style="width: 133.5px;"><a class="scroll-link" href="/#sec-services" data-bgscr="https://res.cloudinary.com/ovac/image/upload/v1504965794/aboust_ey5v1v.jpg" data-bgtex="services"><span>Services</span></a></li>
              <li style="width: 133.5px;"><a class="scroll-link" href="/#sec-skills" data-bgscr="https://res.cloudinary.com/ovac/image/upload/v1504965794/aboust_ey5v1v.jpg" data-bgtex="skills"><span>Skills</span></a></li>
              <li style="width: 133.5px;"><a class="scroll-link" href="/#sec-portfolio" data-bgscr="https://res.cloudinary.com/ovac/image/upload/v1504965794/aboust_ey5v1v.jpg" data-bgtex="Portfolio"><span>Portfolio</span></a></li>
              <li style="width: 133.5px;"><a class="scroll-link" href="/#sec-clients" data-bgscr="https://res.cloudinary.com/ovac/image/upload/v1504965794/aboust_ey5v1v.jpg" data-bgtex="clients"><span>Clients</span></a></li>
              <li style="width: 133.5px;"><a class="scroll-link" href="/#sec-contact" data-bgscr="https://res.cloudinary.com/ovac/image/upload/v1504965794/aboust_ey5v1v.jpg" data-bgtex="contact"><span>Contact</span></a></li>
            </ul>
        </nav>
    </div>
    <a href="/blogs/" class="show-share isShare">
      <i class="fa fa-pencil"></i><span>Blogs</span>
    </a>
</header>
