<header class="main-header">
    <a href="index.html" class="logo-holder"><img src="http://res.cloudinary.com/ovac/image/upload/v1517845930/238919685_7d0db432-084d-4185-8716-2c29eca1e626_x6cmp2.png" alt=""></a>
    <!-- nav-button -->
    <div class="nav-button-wrap">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="nav-holder">
        <nav class="scroll-nav">
            <ul>
                <li><a class="scroll-link" href="/#sec1">Home</a></li>
                <li><a class="scroll-link" href="/#sec2">About</a></li>
                <li><a class="scroll-link" href="/#sec6">Work</a></li>
                <li><a class="scroll-link" href="/#sec7">Services / Prices</a></li>
                <li><a class="scroll-link" href="/#sec8">Clients</a></li>
                <li><a class="scroll-link" href="/#sec9">Contact</a></li>
            </ul>
        </nav>
    </div>
    <a href="/blogs/" class="show-share isShare">
      <i class="fa fa-pencil"></i><span>Blogs</span>
    </a>
</header>
