@charset "utf-8";
/*--
	Add your style here
--*/
.menu-wrap {
        right:0 !important;
	-webkit-transform: translate3d(320px,0,0);
	transform: translate3d(320px,0,0);
	visibility:hidden;
}

.show-menu .menu-wrap,
.show-menu .menu-inner ,
.show-menu .morph-shape  {
        -webkit-transform: translate3d(-30px,0,0);
        transform: translate3d(-30px,0,0);
}
.show-menu .menu-wrap {
	right:0;
	opacity:1;
	visibility:visible;
}

.show-share {
  position: absolute;
  border-left: 1px solid rgba(255, 255, 255, .11);
  right: -90px;
  z-index: 10;
  top: 0;
  height: 70px;
  width: 90px;
  cursor: pointer;
  background: #292929;
  text-align: center;
}

.show-share i {
  float: left;
  width: 100%;
  margin-top: 18px;
  font-size: 16px;
  padding-bottom: 8px;
}

.show-share span {
  color: #fff;
  font-size: 11px;
  font-weight: bolder;
}

.floating-header.floating-active {
  height: 70px;
}

.site-main.outer {
  padding-top: 100px;
}



@media only screen and (max-width: 1064px){

  header.main-header, .column-wrap {
    width: 100%;
  }

  .nav-holder nav li a {
      background: none !important;
      padding: 10px 0 !important;
      text-align: right;
      float: left;
  }

  .show-share {
      right: 0;
  }

  .nav-holder nav li {
    float: left;
    position: relative;
    box-sizing: border-box;
}
  .nav-holder li, .nav-holder nav li ul li {
      width: 100%;
      float: right;
      text-align: right;
  }
  .nav-button-wrap {
      position: absolute;
      top: 27px;
      right: 110px;
      z-index: 104;
      width: 30px;
      height: 30px;
      cursor: pointer;
      display: block;
  }

  .nav-button-wrap span {
    float: left;
    width: 100%;
    height: 2px;
    margin-bottom: 6px;
  }

  .nav-holder {
    display: none;
    position: absolute;
    top: 70px;
    width: 350px;
    right: 0;
    margin-left: 0;
    padding: 0 50px 30px;
    background: #292929;
    border-top: 1px solid rgba(255,255,255,0.21);
  }
}

header.main-header{
  background: none;
}

.nav-holder {
    float: left;
    width: 100%;
    position: relative;
}

.nav-holder ul {
    float: left;
    width: 100%;
}

.nav-holder li {
  float: left;
  border-right: 1px solid rgba(255,255,255,0.21);
  box-sizing: border-box;
  overflow: hidden;
  background: #404040;
  width: 133.5px;
}

.nav-holder a {
  font-weight: 700;
  font-size: 10px;
  position: relative;
  float: left;
  width: 100%;
  padding: 18px 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: center;
}

.nav-holder li a span {
    position: relative;
    z-index: 2;
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-holder li a:before {
    top: 0;
    left: 0;
}
.nav-holder li a:after {
    bottom: 0;
    right: 0;
}
